<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Build Metrics"
            icon="icons/sample.gif"
            category="br.com.reconcavo.featurejs"
            class="br.com.rise.featurejs.ui.views.BuildMetricsView"
            id="br.com.rise.riplehc.ui.views.BuildMetricsView">
      </view>
      <view
           category="br.com.reconcavo.featurejs"
           class="br.com.rise.featurejs.ui.views.TraceabilityOutlineTreeView"
           icon="icons/sample.gif"
           id="br.com.rise.featurejs.ui.views.TraceabilityTreeView"
           name="Traceability Outline">
     </view>
      <view
            category="br.com.reconcavo.featurejs"
            class="br.com.rise.featurejs.ui.views.ScatteringTreeView"
            icon="icons/scattering.png"
            id="br.com.rise.featurejs.ui.views.ScatteringTreeView"
            name="Scattering Tree">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="br.com.rise.featurejs.ui.views.ScatteringTreeView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
