<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Build Metrics"
            icon="icons/sample.gif"
            category="br.com.reconcavo.featurejs"
            class="br.com.rise.featurejs.ui.views.BuildMetricsView"
            id="br.com.rise.riplehc.ui.views.BuildMetricsView">
      </view>
      <view
           category="br.com.reconcavo.featurejs"
           class="br.com.rise.featurejs.ui.views.TraceabilityOutlineTreeView"
           icon="icons/sample.gif"
           id="br.com.rise.featurejs.ui.views.TraceabilityTreeView"
           name="Traceability Outline">
     </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
